<% include partials/header%>
<h1> Create a new campground </h1>

<form action="/campgrounds" method="post">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="image url" name="image">
    <button> Submit </button>
</form>

<a href="/campgrounds">Back to the campgrounds</a>
<% include partials/footer%>